{{ block "login-form" .}}
<div id="login-form">
    <form hx-boost="true" action="/login" method="post"  {{ if .LoginSuccess }} hx-push-url="/user-land.htm" {{else}}  hx-target="{{.targetID}}" hx-swap="" {{ end }} >


    <div class="flex flex-col">
      <label class="block mb-1 text-white">Enter Username:</label>
      <input class="border rounded py-2 px-3 w-full sm:w-auto"
             type="text"
             name="username" required>
    </div>

    <div class="flex flex-col">
      <label class="block mb-1 text-white">Enter Password:</label>
      <input class="border rounded py-2 px-3 w-full sm:w-auto"
             type="password"
             name="password" required>
    </div>

    <button type="submit" class="bg-blue-500 hover:bg-blue-700
            text-white font-bold py-2 px-4 mt-4 sm:mt-0 rounded w-full sm:w-auto">
            Login
    </button>

    <button class="bg-green-500 hover:bg-green-700
            text-white font-bold py-2 px-4 rounded mt-4 w-full sm:w-auto slide-it"
            hx-get="/register-form"
            hx-swap="innerHTML transition:true"
            hx-target="#login-form">
            Click to Sign Up!
    </button>
  </form>

</div>
{{ end }}

