<div hx-target="this" hx-swap="outerHTML">
  <form hx-put="/monster/1" hx-target="this" hx-swap="outerHTML">
    <div>
      <label>Monster Name: </label>
      <input type="text" name="monsterName" value="Adult Black Dragon" class="bg-gray-600 text-white rounded-md shadow-inner mb-1 w-auto focus:ring-2 focus:ring-blue-500">
    </div>
    <div>
      <label>Monster HP: </label>
      <input type="number" name="monsterHealth" value="100" class="bg-gray-600 text-white rounded-md shadow-inner mb-1 w-15 focus:ring-2 focus:ring-blue-500">
    </div>
    <div>
      <label>Monster AC: </label>
      <input type="number" name="monsterAC" value="20" class="bg-gray-600 text-white rounded-md shadow-inner w-12 focus:ring-2 focus:ring-blue-500">
    </div>
    <div>
      <label>Monster Attack Roll Bonus: </label>
      <input type="number" name="monsterAttackRoll" value="10" class="bg-gray-600 text-white rounded-md shadow-inner mb-1 focus:ring-2 focus:ring-blue-500 w-10">
    </div>
    <div>
      <label>Monster Damage: </label>
      <input type="text" name="monsterDamage" value="2d6+4" class="bg-gray-600 text-white rounded-md shadow-inner mb-1 focus-ring-blue-500  w-20">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <button hx-get="/monster/1" class="btn btn-secondary">Cancel</button>
  </form>
</div>

